@charset "utf-8";

// モバイルファースト320px~

// リセット+α
li {
  list-style-type: none;
}
body,p,a,ul,li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  position: relative;
  overflow-x: hidden;
  .fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .page {
    .site-header{
      display: flex;
      background-color: transparent;
    }
    .header--inversed {

    }
    .js-header {

    }
    .container {
      position: relative;
      left: 43%;
      top: 5px;
      .site-header-branding {
        .site-title {
          height: 72px;
          margin: 0;
          .site-logo {
            width: 100%;
            img{
              height: 55px;
            }
            .site-logo-img--light {
  
            }
            .site-logo-img--dark {
  
            }
          }
        }
      }
    }
    #nav-drawer {
      position: relative;
      top: 20px;
      left: -40px;
      .nav-unshown {
        display:none;
      }
      #nav-open {
        display: inline-block;
        width: 30px;
        height: 22px;
        vertical-align: middle;
      }
      
      #nav-open span, #nav-open span:before, #nav-open span:after {
        position: absolute;
        height: 3px;/*線の太さ*/
        width: 25px;/*長さ*/
        border-radius: 3px;
        // background: #555;
        background: #fff;
        display: block;
        content: '';
        cursor: pointer;
      }
      #nav-open span:before {
        bottom: -8px;
      }
      #nav-open span:after {
        bottom: -16px;
      }
      
      /*閉じる用の薄黒カバー*/
      #nav-close {
        display: none;/*はじめは隠しておく*/
        position: fixed;
        z-index: 99;
        top: 0;/*全体に広がるように*/
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        transition: .3s ease-in-out;
      }
      
      /*中身*/
      #nav-content {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;/*最前面に*/
        width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
        max-width: 330px;/*最大幅（調整してください）*/
        height: 100%;
        // background: #fff;/*背景色*/
        background: #262426;
        transition: .3s ease-in-out;/*滑らかに表示*/
        -webkit-transform: translateX(-105%);
        transform: translateX(-105%);/*左に隠しておく*/
        .nav-items-menu {
          a {
            color: #fff;
          }
        }
      }
      
      /*チェックが入ったらもろもろ表示*/
      #nav-input:checked ~ #nav-close {
        display: block;/*カバーを表示*/
        opacity: .5;
      }
      
      #nav-input:checked ~ #nav-content {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);/*中身を表示（右へスライド）*/
        box-shadow: 6px 0 25px rgba(0,0,0,.15);
      }
    }
    .navigation--main {

    }
  }//page
  header {
    .article-header {
      
    }
    .article-header--page {
      position: relative;
      height: 700px;
      background: url(./img/header.jpg) no-repeat;
      background-size: cover;
      background-position-x: 20%;
      :before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.15); /*半透明のフィルター*/
      }
    }
    .full-height {
      
    }
    .article-header-logo {
      h2 {
        position: relative;
        line-height: 700px;
        text-align: center;
        margin: 0;
        img {
          width: 200px;
        }
      }
    }
  }
}
