@charset "UTF-8";
li {
  list-style-type: none;
}

body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.headerColor-default {
  background-color: #262426;
}

body {
  position: relative;
  overflow-x: hidden;
}

body .fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

body .top-page .site-header {
  height: 65px;
  padding-top: 10px;
  background-color: transparent;
}

@media (min-width: 1024px) {
  body .top-page .site-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}

body .top-page .container {
  padding-top: 10px;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
}

body .top-page .container .site-header-branding {
  grid-column: 2;
  text-align: center;
}

body .top-page .container .site-header-branding .site-title {
  height: 72px;
  margin: 0;
}

body .top-page .container .site-header-branding .site-title .site-logo img {
  height: 55px;
}

body .top-page #nav-drawer {
  position: relative;
  top: -58px;
  left: 25px;
  /*閉じる用の薄黒カバー*/
  /*中身*/
  /*チェックが入ったら表示*/
}

body .top-page #nav-drawer .nav-unshown {
  display: none;
}

body .top-page #nav-drawer #nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

@media (min-width: 1024px) {
  body .top-page #nav-drawer #nav-open {
    display: none;
  }
}

body .top-page #nav-drawer #nav-open span, body .top-page #nav-drawer #nav-open span:before, body .top-page #nav-drawer #nav-open span:after {
  position: absolute;
  height: 3px;
  /*線の太さ*/
  width: 25px;
  /*長さ*/
  border-radius: 3px;
  background: #fff;
  display: block;
  content: '';
  cursor: pointer;
}

body .top-page #nav-drawer #nav-open span:before {
  bottom: -8px;
}

body .top-page #nav-drawer #nav-open span:after {
  bottom: -16px;
}

body .top-page #nav-drawer #nav-close {
  display: none;
  /*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;
  /*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

body .top-page #nav-drawer #nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  /*最前面に*/
  width: 90%;
  /*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;
  /*最大幅（調整してください）*/
  height: 100%;
  background: #262426;
  transition: .3s ease-in-out;
  /*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
  /*左に隠しておく*/
}

body .top-page #nav-drawer #nav-content .nav-items-menu {
  width: auto;
  padding: 20px;
}

body .top-page #nav-drawer #nav-content .nav-items-menu li {
  width: 50%;
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #a0a0a0;
}

body .top-page #nav-drawer #nav-content .nav-items-menu a {
  color: #fff;
}

body .top-page #nav-drawer #nav-input:checked ~ #nav-close {
  display: block;
  /*カバーを表示*/
  opacity: .5;
}

body .top-page #nav-drawer #nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  /*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

body .top-page .nav-pc-size {
  display: none;
}

@media (min-width: 1024px) {
  body .top-page .nav-pc-size {
    display: grid;
    grid-column: 8/12;
  }
}

@media (min-width: 1024px) {
  body .top-page .nav-pc-size .nav-content-pc .nav-items-menu-pc {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
}

body .top-page .nav-pc-size .nav-content-pc .nav-items-menu-pc li a {
  color: #fff;
}

body header .article-header {
  box-sizing: border-box;
  color: #FFF;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}

body header .article-header--page {
  position: relative;
  height: 700px;
  background: url(./img/header.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: 20%;
}

body header .article-header--page:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  /*半透明のフィルター*/
}

body header .article-header-logo h2 {
  position: relative;
  line-height: 700px;
  text-align: center;
  margin: 0;
}

body header .article-header-logo h2 img {
  width: 200px;
}

body .news .news-wrapper {
  background-color: #262426;
}

body .news .news-wrapper ul {
  padding: 35px 15px;
  color: #fff;
}

body .news .news-wrapper ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px 0;
}

body .news .news-wrapper ul li:not(:last-child) {
  border-bottom: 0.5px dotted #cac5c5;
}

body .news .news-wrapper ul li time {
  display: inline-block;
  position: relative;
  font-weight: bold;
  padding: 0 20px;
  letter-spacing: 2px;
}

body .news .news-wrapper ul li .news-time {
  position: relative;
  margin-bottom: 8px;
}

body .news .news-wrapper ul li .news-time:before {
  display: inline-block;
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 0 3px 5px;
  border-color: transparent transparent transparent #fff;
}

body .news .news-wrapper ul li .news-time .news-text {
  color: #fff;
  font-weight: bold;
}

body .concept .section-title {
  position: relative;
}

body .concept .section-title h3 {
  text-align: center;
}

body .concept .section-title h3::after {
  display: block;
  content: "";
  border-bottom: 3px solid #000;
  width: 20px;
  margin: 10px auto;
}

body .concept .concept-wrap .bread-about {
  height: 325px;
  background: url(./img/pan.jpg) no-repeat center;
  background-size: cover;
}

body .concept .concept-wrap .pasta-about {
  height: 325px;
  background: url(./img/pasta.jpg) no-repeat center;
  background-size: cover;
}

body .concept .concept-wrap .coffee-about {
  height: 325px;
  background: url(./img/coffee.jpg) no-repeat center;
  background-size: cover;
}

body .concept .concept-wrap .vegetable-about {
  height: 325px;
  background: url(./img/yasai.jpg) no-repeat center;
  background-size: cover;
}

body .concept .concept-wrap .concept-text {
  background-color: #fff;
  height: 100px;
}

body .concept .concept-wrap .concept-text h5 {
  font-size: 1rem;
  margin: 1.5rem;
  text-align: center;
}

body .concept .concept-wrap .concept-text p {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

body .access .section-title {
  position: relative;
}

body .access .section-title h3 {
  text-align: center;
}

body .access .section-title h3::after {
  display: block;
  content: "";
  border-bottom: 3px solid #000;
  width: 20px;
  margin: 10px auto;
}

body .access .maps {
  text-align: center;
}

body .access .maps iframe {
  max-width: 290px;
  max-height: 200px;
}

body footer {
  background-color: #262426;
}

body footer .footer-wrap ul a {
  color: #fff;
}
