@charset "UTF-8";
li {
  list-style-type: none;
}

body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

th, td {
  text-align: left;
  vertical-align: middle;
}

div, p, address, table, tbody, tr, th, td {
  line-height: 1.7;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Yu Gothic", Verdana, sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
}

body .fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

body .top-page .site-header {
  background-color: transparent;
}

@media (min-width: 1024px) {
  body .top-page .site-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}

body .top-page .headerColor-default {
  background-color: #262426;
}

body .top-page .container {
  grid-column: 2;
}

body .top-page .container .site-header-branding {
  grid-column: 2;
  text-align: center;
  line-height: 65px;
}

body .top-page .container .site-header-branding .site-title {
  margin: 0;
}

body .top-page .container .site-header-branding .site-title .site-logo img {
  height: 48px;
}

body .top-page #nav-drawer {
  position: relative;
  top: -54px;
  left: 25px;
  /*閉じる用の薄黒カバー*/
  /*中身*/
  /*チェックが入ったら表示*/
}

body .top-page #nav-drawer .nav-unshown {
  display: none;
}

body .top-page #nav-drawer #nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

@media (min-width: 1024px) {
  body .top-page #nav-drawer #nav-open {
    display: none;
  }
}

body .top-page #nav-drawer #nav-open span, body .top-page #nav-drawer #nav-open span:before, body .top-page #nav-drawer #nav-open span:after {
  position: absolute;
  height: 3px;
  /*線の太さ*/
  width: 25px;
  /*長さ*/
  border-radius: 3px;
  background: #fff;
  display: block;
  content: '';
  cursor: pointer;
}

body .top-page #nav-drawer #nav-open span:before {
  bottom: -8px;
}

body .top-page #nav-drawer #nav-open span:after {
  bottom: -16px;
}

body .top-page #nav-drawer #nav-close {
  display: none;
  /*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;
  /*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

body .top-page #nav-drawer #nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  /*最前面に*/
  width: 70%;
  /*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;
  /*最大幅（調整してください）*/
  height: 100%;
  background: #262426;
  transition: .3s ease-in-out;
  /*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
  /*左に隠しておく*/
}

body .top-page #nav-drawer #nav-content .nav-items-menu {
  width: auto;
  padding: 20px;
}

body .top-page #nav-drawer #nav-content .nav-items-menu li {
  width: 50%;
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #a0a0a0;
}

body .top-page #nav-drawer #nav-content .nav-items-menu a {
  color: #fff;
}

body .top-page #nav-drawer #nav-input:checked ~ #nav-close {
  display: block;
  /*カバーを表示*/
  opacity: .5;
}

body .top-page #nav-drawer #nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  /*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

body .top-page .nav-pc-size {
  display: none;
}

@media (min-width: 1024px) {
  body .top-page .nav-pc-size {
    display: grid;
    grid-column: 8/13;
  }
}

@media (min-width: 1024px) {
  body .top-page .nav-pc-size .nav-content-pc .nav-items-menu-pc {
    display: flex;
    justify-content: space-around;
    line-height: 72px;
  }
}

body .top-page .nav-pc-size .nav-content-pc .nav-items-menu-pc li a {
  color: #fff;
}

body .link-current {
  border-bottom: 2px solid #fff;
}

body header .article-header {
  box-sizing: border-box;
  color: #FFF;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}

body header .article-header--page {
  position: relative;
  height: 700px;
  background: url(./img/header.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: 20%;
}

body header .article-header--page:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  /*半透明のフィルター*/
}

body header .article-header-logo h2 {
  position: relative;
  line-height: 700px;
  text-align: center;
  margin: 0;
}

body header .article-header-logo h2 img {
  width: 200px;
}

body .news .news-wrapper {
  background-color: #382b08;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  body .news .news-wrapper {
    padding: 0 40px;
  }
}

body .news .news-wrapper ul {
  padding: 35px 15px;
  color: #fff;
}

body .news .news-wrapper ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px 0;
}

body .news .news-wrapper ul li:not(:last-child) {
  border-bottom: 0.5px dotted #cac5c5;
}

body .news .news-wrapper ul li time {
  display: inline-block;
  position: relative;
  font-weight: bold;
  padding: 0 20px;
  letter-spacing: 2px;
}

body .news .news-wrapper ul li .news-time {
  position: relative;
  margin-bottom: 8px;
}

body .news .news-wrapper ul li .news-time:before {
  display: inline-block;
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 0 3px 5px;
  border-color: transparent transparent transparent #fff;
}

body .news .news-wrapper ul li .news-time .news-text {
  color: #fff;
  font-weight: bold;
}

@media (min-width: 1024px) {
  body .concept {
    padding: 0 200px;
  }
}

body .concept .section-title {
  position: relative;
}

body .concept .section-title h3 {
  text-align: center;
  font-size: 1.5em;
}

body .concept .section-title h3::after {
  display: block;
  content: "";
  border-bottom: 3px solid #000;
  width: 20px;
  margin: 10px auto;
}

body .concept .concept-wrap {
  margin-bottom: 3rem;
}

@media (min-width: 1024px) {
  body .concept .concept-wrap {
    border: 1px solid #262426;
    border-radius: 5px;
    background-color: #262426;
  }
}

body .concept .concept-wrap .bread-about {
  height: 325px;
  background: url(./img/pan.jpg) no-repeat;
  background-size: cover;
  background-position: center 20px;
}

@media (min-width: 768px) {
  body .concept .concept-wrap .bread-about {
    height: 370px;
  }
}

body .concept .concept-wrap .bread-about .bread {
  position: relative;
  width: 85%;
  height: 135px;
  margin: 0 0 0 auto;
  border-bottom-left-radius: 5px;
}

@media (min-width: 768px) {
  body .concept .concept-wrap .bread-about .bread {
    padding: 10px;
  }
}

body .concept .concept-wrap .bread-about .bread h5 {
  margin: 0 auto 1rem auto;
  padding-top: .5rem;
}

body .concept .concept-wrap .pasta-about {
  height: 325px;
  background: url(./img/pasta.jpg) no-repeat;
  background-size: cover;
  background-position: 0 50px;
  background-color: #25150a;
}

@media (min-width: 768px) {
  body .concept .concept-wrap .pasta-about {
    height: 414px;
    background-position: 0 60px;
  }
}

body .concept .concept-wrap .pasta-about .pasta {
  width: 85%;
  height: 145px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (min-width: 768px) {
  body .concept .concept-wrap .pasta-about .pasta {
    padding: 10px;
  }
}

body .concept .concept-wrap .pasta-about .pasta h5 {
  margin: 0 auto 1rem auto;
  padding-top: 1rem;
}

body .concept .concept-wrap .coffee-about {
  height: 350px;
  background: url(./img/coffee.jpg) no-repeat;
  background-size: cover;
  background-position-x: -115px;
  background-position-y: 43px;
  background-color: #25150a;
}

@media (min-width: 768px) {
  body .concept .concept-wrap .coffee-about {
    background-position-x: -52px;
    height: 440px;
  }
}

body .concept .concept-wrap .coffee-about .coffee {
  width: 85%;
  height: 145px;
  margin: 0 0 0 auto;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

@media (min-width: 768px) {
  body .concept .concept-wrap .coffee-about .coffee {
    padding: 10px;
  }
}

body .concept .concept-wrap .coffee-about .coffee h5 {
  margin: 0 auto 1rem auto;
  padding-top: 1rem;
}

body .concept .concept-wrap .vegetable-about {
  height: 300px;
  background: url(./img/yasai.jpg) no-repeat center;
  background-size: cover;
}

@media (min-width: 768px) {
  body .concept .concept-wrap .vegetable-about {
    height: 440px;
  }
}

body .concept .concept-wrap .vegetable-about .vegetable {
  height: 145px;
  width: 85%;
  margin: 0 50px 10px 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (min-width: 768px) {
  body .concept .concept-wrap .vegetable-about .vegetable {
    padding: 10px;
  }
}

body .concept .concept-wrap .vegetable-about .vegetable h5 {
  margin: 0 auto 1rem auto;
  padding-top: 1rem;
}

body .concept .concept-wrap .concept-text {
  background-color: #fff;
  height: 100px;
}

body .concept .concept-wrap .concept-text h5 {
  font-size: 1rem;
  margin: 0 auto 1rem auto;
  text-align: center;
}

@media (min-width: 768px) {
  body .concept .concept-wrap .concept-text h5 {
    font-size: 1.4rem;
  }
}

body .concept .concept-wrap .concept-text p {
  font-size: 0.9em;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  body .concept .concept-wrap .concept-text p {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  body .concept .concept-wrap .concept-text p {
    text-align: center;
  }
}

body .access .access-wrap {
  padding: 0 15px;
}

@media (min-width: 768px) {
  body .access .access-wrap {
    padding: 0 70px;
  }
}

body .access .access-wrap .section-title {
  position: relative;
}

body .access .access-wrap .section-title h3 {
  margin: 0 0 2rem 0;
  text-align: center;
  font-size: 1.5em;
}

body .access .access-wrap .section-title h3::after {
  display: block;
  content: "";
  border-bottom: 3px solid #000;
  width: 20px;
  margin: 10px auto;
}

body .access .access-wrap .access-items {
  max-width: 290px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  body .access .access-wrap .access-items {
    max-width: 502px;
  }
}

@media (min-width: 1024px) {
  body .access .access-wrap .access-items {
    display: flex;
    max-width: 950px;
    margin: 0 auto;
  }
}

body .access .access-wrap .access-items .maps {
  text-align: center;
}

@media (min-width: 768px) {
  body .access .access-wrap .access-items .maps {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1024px) {
  body .access .access-wrap .access-items .maps {
    margin-right: 2rem;
  }
}

body .access .access-wrap .access-items .maps iframe {
  max-width: 290px;
  max-height: 200px;
}

@media (min-width: 768px) {
  body .access .access-wrap .access-items .maps iframe {
    max-width: 500px;
    max-height: 350px;
  }
}

@media (min-width: 1024px) {
  body .access .access-wrap .access-items .maps iframe {
    max-width: 600px;
  }
}

body .access .access-wrap .access-items .access-list {
  padding-left: 20px;
  margin-bottom: 1.8rem;
  font-weight: bold;
  border-left: 3px solid #000;
}

@media (min-width: 1024px) {
  body .access .access-wrap .access-items .access-list {
    padding-top: 2rem;
  }
}

body .access .access-wrap .access-items .access-list .access-title {
  padding-left: 30px;
}

body .access .access-wrap .access-items .access-list address {
  padding-left: 30px;
}

body .access .access-wrap .access-items .access-list address .access-txt-box {
  font-size: .8rem;
  font-weight: bold;
}

body .access .access-wrap .access-items .access-list address .access-txt-box:not(:last-child) {
  margin-bottom: 1rem;
}

body .access .access-wrap .access-items .access-list address .access-txt-box .access-txt {
  line-height: 2;
}

body .access .access-wrap .access-items .access-list address .access-table {
  line-height: 2;
}

body .access .access-wrap .access-items .access-list address .access-table tr th {
  padding-right: 20px;
}

body footer {
  background-color: #262426;
}

body footer .footer-wrap {
  text-align: center;
}

body footer .footer-wrap ul {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 0 0;
}

@media (min-width: 1024px) {
  body footer .footer-wrap ul {
    padding: 30px 30px 0 0;
  }
}

body footer .footer-wrap ul li {
  margin-right: .25rem;
}

@media (min-width: 1024px) {
  body footer .footer-wrap ul li {
    margin-right: 1.25rem;
  }
}

body footer .footer-wrap ul li a .fab {
  font-size: 1.4rem;
}

body footer .footer-wrap ul li a .fad-icon {
  display: inline-block;
  background-color: #3e3d3e;
  padding: 0;
  width: 2.3em;
  height: 2.3em;
  line-height: 2.3em;
  border-radius: 999px;
}

body footer .footer-wrap ul a {
  color: #fff;
}

body footer .footer-wrap img {
  width: 130px;
}

body footer .footer-wrap .copylight {
  color: #fff;
}
